<div th:replace="fragments/header :: header"></div>

<main class="min-h-auto flex items-center justify-center p-40">
    <form th:action="@{/login}" method="post"
        class="bg-white/80 backdrop-blur-md shadow-xl rounded-3xl p-10 w-full max-w-md space-y-6">

        <div th:if="${param.error}" class="text-red-600 text-sm text-center">
            Usuario o contraseña incorrectos
        </div>

        <h2 class="text-3xl font-bold text-center text-indigo-800">Iniciar Sesión</h2>

        <!-- Usuario -->
        <div>
            <label for="username" class="block text-sm font-medium text-gray-700 mb-1">Nombre de Usuario</label>
            <input type="text" name="username" placeholder="Tu nombre de usuario" required
                class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-400 text-gray-900">
        </div>

        <!-- Contraseña -->
        <div>
            <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Contraseña</label>
            <input type="password" name="password" placeholder="Tu contraseña" required
                class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-400 text-gray-900">
        </div>

        <!-- Botón -->
        <button type="submit"
            class="w-full bg-amber-600 hover:bg-amber-700 text-white font-semibold py-2 px-4 rounded-full transition duration-300 shadow-md hover:shadow-lg">
            Iniciar sesión
        </button>

        <!-- Registro -->
        <p class="text-center text-sm text-gray-600">
            ¿No tienes una cuenta?
            <a href="/auth/registro" class="text-indigo-700 font-medium hover:underline">Regístrate</a>
        </p>

        <div th:if="${param.logout}" class="text-green-600 text-sm text-center">
            Has cerrado sesión correctamente
        </div>
    </form>
</main>

<div th:replace="fragments/footer :: footer"></div>